<ion-header [translucent]="true" class="header">
    <ion-row>
    	<ion-col size="9" offset="1" no-padding>
    		<ion-title class="titulo">
    		  Cadastro de Contribuintes
    		</ion-title>		
    	</ion-col>
    </ion-row>
    
</ion-header>

<ion-content>
	<ion-row>
		<ion-col size="9" offset="1">
	<ion-segment [(ngModel)]="segmento">
  		<ion-segment-button value="pessoa">
    		<ion-label class="label-seg">Pessoal</ion-label>
  		</ion-segment-button>
	  	<ion-segment-button value="endereco">
	    	<ion-label class="label-seg">Endereço</ion-label>
	  	</ion-segment-button>
	  	<ion-segment-button value="contato">
	    	<ion-label class="label-seg">Contatos</ion-label>
	  	</ion-segment-button>
	  	<ion-segment-button value="banco">
	    	<ion-label class="label-seg">Bancos</ion-label>
	  	</ion-segment-button>
	  	<ion-segment-button value="imagem">
	    	<ion-label class="label-seg">Imagens</ion-label>
	  	</ion-segment-button>
	  	<ion-segment-button value="profissional">
	    	<ion-label class="label-seg">Profissional</ion-label>
	  	</ion-segment-button>
	</ion-segment>

	<ion-row *ngIf="segmento == 'pessoa'">
		<ion-col size="2">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Cód.</ion-label>
			  <ion-input type="number"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="2">
			<div class="checkbox">
				<ion-checkbox></ion-checkbox>
				<span class="margin-left">Inativo</span>	
			</div>
		</ion-col>
		<ion-col size="4">
			<div class="select">
				<ion-item>
    				<ion-label>Tipo Pessoa</ion-label>
	    			<ion-select okText="Ok" cancelText="Cancelar">
	      				<ion-select-option value="0">Física</ion-select-option>
	      				<ion-select-option value="1">Jurídica</ion-select-option>
	      				<ion-select-option value="2">Sociedade Civil</ion-select-option>
	    			</ion-select>
  				</ion-item>
  			</div>
		</ion-col>
		<ion-col size="12">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Nome / Razão Social</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="12">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Fantasia / Apelido</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">C.N.P.J / C.P.F</ion-label>
			  <ion-input type="number"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="1">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/search.png">
			</div>	
		</ion-col>
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Data Abertura C.N.P.J</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="1">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/calendar.png">
			</div>	
		</ion-col>

		<ion-col size="4"></ion-col>

		<ion-col size="2">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">R.G.</ion-label>
			  <ion-input type="number"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="2">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Emissor</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="1">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">U.F.</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Data Emissão</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="1">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/calendar.png">
			</div>	
		</ion-col>
		<ion-col size="3"></ion-col>
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Data Nascimento</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="1">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/calendar.png">
			</div>	
		</ion-col>
		<ion-col size="2">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">N.I.T.</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="2">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">PIS/PASEP</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>

		<ion-col size="12">
			<ion-row>
				<h4>Referências Padrões</h4>
			</ion-row>
			<ion-row>
				<ion-segment [(ngModel)]="referencia">
  					<ion-segment-button value="endereco-pessoa">
    					<ion-label class="label-seg">Endereço</ion-label>
  					</ion-segment-button>
	  				<ion-segment-button value="contato-pessoa">
	    				<ion-label class="label-seg">Contato</ion-label>
	  				</ion-segment-button>
	  				<ion-segment-button value="banco-pessoa">
	    				<ion-label class="label-seg">Banco</ion-label>
	  				</ion-segment-button>
				</ion-segment>
			</ion-row>
			<ion-row>
				<div class="box">
					<div class="box-inside">
						teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste 
						teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste teste 
					</div>
				</div>
			</ion-row>
		</ion-col>

		<ion-col size="12" class="botoes">
			<div class="botao-proximo">
				<span>Próximo</span>
				<img width="20px" src="assets/icon/arrow2.png">
			</div>
		</ion-col>
	</ion-row>

	<ion-row *ngIf="segmento == 'endereco'">
		<ion-col size="5">
			<ion-item>
			  <ion-input placeholder="Pesquise um endereço..." type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="7">
			<div class="botao-novo">
				Novo
			</div>
		</ion-col>
		<ion-col size="12">
			<ion-list>
				<ion-item>
					<ion-row style="width: 100%">
						<ion-col size="3">
							<ion-label>Residencial</ion-label>	
						</ion-col>
						<ion-col size="1">
							<ion-label>Rua</ion-label>	
						</ion-col>
						<ion-col size="3">
							<ion-label>Campos Sales</ion-label>	
						</ion-col>
						<ion-col size="1">
							<ion-label>302</ion-label>	
						</ion-col>
						<ion-col size="4">
							<div class="botao-delete">
								<img src="../assets/icon/close.png">
							</div>
							<div class="botao-edit">
								<img src="../assets/icon/edit.png">
							</div>
						</ion-col>
					</ion-row>
				</ion-item>

				<ion-item>
					<ion-row style="width: 100%">
						<ion-col size="3">
							<ion-label>Residencial</ion-label>	
						</ion-col>
						<ion-col size="1">
							<ion-label>Rua</ion-label>	
						</ion-col>
						<ion-col size="3">
							<ion-label>Campos Sales</ion-label>	
						</ion-col>
						<ion-col size="1">
							<ion-label>302</ion-label>	
						</ion-col>
						<ion-col size="4">
							<div class="botao-delete">
								<img src="../assets/icon/close.png">
							</div>
							<div class="botao-edit">
								<img src="../assets/icon/edit.png">
							</div>
						</ion-col>
					</ion-row>
				</ion-item>
			</ion-list>	
		</ion-col>

		<ion-col size="12" class="botoes">
			<div class="botao-proximo">
				<span>Próximo</span>
				<img width="20px" src="assets/icon/arrow2.png">
			</div>

			<div class="botao-anterior">
				<img width="20px" src="assets/icon/arrow1.png">
				<span>Anterior</span>
			</div>
		</ion-col>
	</ion-row>

	<ion-row *ngIf="segmento == 'contato'">
		<ion-col size="5">
			<ion-item>
			  <ion-input placeholder="Pesquise um contato..." type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="7">
			<div class="botao-novo">
				Novo
			</div>
		</ion-col>
		<ion-col size="12">
			<ion-list>
				<ion-item>
					<ion-row style="width: 100%">
						<ion-col size="4">
							<ion-label>Rita Miki Kinno Shimizu</ion-label>	
						</ion-col>
						<ion-col size="2">
							<ion-label>(44) 9 9999-0000</ion-label>	
						</ion-col>
						<ion-col size="2">
							<ion-label>(44) 9 9999-0000</ion-label>	
						</ion-col>
						<ion-col size="4">
							<div class="botao-delete">
								<img src="../assets/icon/close.png">
							</div>
							<div class="botao-edit">
								<img src="../assets/icon/edit.png">
							</div>
						</ion-col>
					</ion-row>
				</ion-item>
			</ion-list>	
		</ion-col>

		<ion-col size="12" class="botoes">
			<div class="botao-proximo">
				<span>Próximo</span>
				<img width="20px" src="assets/icon/arrow2.png">
			</div>

			<div class="botao-anterior">
				<img width="20px" src="assets/icon/arrow1.png">
				<span>Anterior</span>
			</div>
		</ion-col>
	</ion-row>

	<ion-row *ngIf="segmento == 'banco'">
		<ion-col size="5">
			<ion-item>
			  <ion-input placeholder="Pesquise um banco..." type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="7">
			<div class="botao-novo">
				Novo
			</div>
		</ion-col>
		<ion-col size="12">
			<ion-list>
				<ion-item>
					<ion-row style="width: 100%">
						<ion-col size="1">
							<ion-label>0520-1</ion-label>	
						</ion-col>
						<ion-col size="2">
							<ion-label>10000880-1</ion-label>	
						</ion-col>
						<ion-col size="2">
							<ion-label>Conta Corrente</ion-label>	
						</ion-col>
						<ion-col size="1">
							<ion-label>001</ion-label>	
						</ion-col>
						<ion-col size="2">
							<ion-label>Banco dos Bancos</ion-label>	
						</ion-col>
						<ion-col size="4">
							<div class="botao-delete">
								<img src="../assets/icon/close.png">
							</div>
							<div class="botao-edit">
								<img src="../assets/icon/edit.png">
							</div>
						</ion-col>
					</ion-row>
				</ion-item>
			</ion-list>	
		</ion-col>
		<ion-col size="12" class="botoes">
			<div class="botao-proximo">
				<span>Próximo</span>
				<img width="20px" src="assets/icon/arrow2.png">
			</div>

			<div class="botao-anterior">
				<img width="20px" src="assets/icon/arrow1.png">
				<span>Anterior</span>
			</div>
		</ion-col>
	</ion-row>

	<ion-row *ngIf="segmento == 'imagem'">
		<ion-col size="12">
			<div class="botao-nova-imagem">
				Nova Imagem
			</div>
		</ion-col>
		<ion-col size="12">
			<ion-row>
				<ion-col size="3">
					<ion-row>
						<ion-col size="12">
							<img width="100%" class="imagem-lista" src="assets/img/teste.png">		
						</ion-col>
						<ion-col size="12">
							<div class="botao-delete">
								<img src="../assets/icon/close.png">
							</div>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col size="3">
					<ion-row>
						<ion-col size="12">
							<img class="imagem-lista" width="100%" src="assets/img/teste.png">		
						</ion-col>
						<ion-col size="12">
							<div class="botao-delete">
								<img src="../assets/icon/close.png">
							</div>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-col>
		<ion-col size="12" class="botoes">
			<div class="botao-proximo">
				<span>Próximo</span>
				<img width="20px" src="assets/icon/arrow2.png">
			</div>

			<div class="botao-anterior">
				<img width="20px" src="assets/icon/arrow1.png">
				<span>Anterior</span>
			</div>
		</ion-col>
	</ion-row>

	<ion-row *ngIf="segmento == 'profissional'">
		<ion-col size="2">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Cód.</ion-label>
			  <ion-input type="number"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="1">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/search.png">
			</div>	
		</ion-col>
		<ion-col size="9">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Profissão</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>

		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Nº Carteira Prof.</ion-label>
			  <ion-input type="number"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Data Carteira Prof.</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="1">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/calendar.png">
			</div>	
		</ion-col>
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Validade Carteira</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="2">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/calendar.png">
			</div>	
		</ion-col>

		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Nº Visto</ion-label>
			  <ion-input type="number"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Data Visto</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="1">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/calendar.png">
			</div>	
		</ion-col>
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Validade Visto</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="2">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/calendar.png">
			</div>	
		</ion-col>
		
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Nº Registro Pref.</ion-label>
			  <ion-input type="number"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Data Registro Pref.</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="1">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/calendar.png">
			</div>	
		</ion-col>
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Validade Registro</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="1">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/calendar.png">
			</div>	
		</ion-col>

		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Nº Insc. ISSQN</ion-label>
			  <ion-input type="number"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="3">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Data Insc. ISSQN</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="1">
			<div class="botao-pesquisar">
			  	<img src="../assets/icon/calendar.png">
			</div>	
		</ion-col>

		<ion-col size="12">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Atribuições Profissionais</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col size="12">
			<ion-item>
			  <ion-label class="label-texto" position="stacked">Atividade Principal</ion-label>
			  <ion-input type="text"></ion-input>
			</ion-item>
		</ion-col>

		<ion-col size="12">
			<ion-row>
				<ion-segment [(ngModel)]="referencia">
  					<ion-segment-button value="endereco-pessoa">
    					<ion-label class="label-seg">Profissionais</ion-label>
  					</ion-segment-button>
	  				<ion-segment-button value="contato-pessoa">
	    				<ion-label class="label-seg">Registro profissional - Empresa</ion-label>
	  				</ion-segment-button>
				</ion-segment>
			</ion-row>
			<ion-row>
				<div class="box">
					<div class="box-inside">
						
					</div>
				</div>
			</ion-row>
		</ion-col>

		<ion-col size="12" class="botoes">
			<div class="botao-anterior">
				<img width="20px" src="assets/icon/arrow1.png">
				<span>Anterior</span>
			</div>
		</ion-col>
	</ion-row>
	</ion-col>
	</ion-row>
</ion-content>
