.header{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: white;
}

.checkbox{
  margin-top: 25px;
  margin-left: 10px;
}

.botoes{
  margin-top: 140px;
}

.botao-gravar{
  float: right;
  background-color: #439B00;
  color: white;
  border-radius: 10px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.botao-gravar:hover{
  cursor: pointer;
}

.botao-cancelar{
  float: right;
  background-color: #888888;
  margin-right: 10px;
  color: white;
  border-radius: 10px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.botao-cancelar:hover{
  cursor: pointer;
}

.botao-pesquisar{
  width: 30px;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 6px 4px 2px 4px;
  margin-top: 10px;
}

.botao-pesquisar img{
  width: 80%;
}