<ion-header class="header">
    <ion-row>
    	<ion-col size="12">
    		<ion-title class="titulo">
    		  Contato
    		</ion-title>		
    	</ion-col>
    </ion-row>
</ion-header>

<ion-content>
	<ion-row>
	<ion-col size="4">
		<ion-item>
			<ion-input placeholder="Sequência" type="number"></ion-input>
		</ion-item>
	</ion-col>
	
	<ion-col size="8">
		<ion-item>
			<ion-label position="fixed">Início Validade</ion-label>
			<ion-input type="date"></ion-input>
		</ion-item>
	</ion-col>

	<ion-col size="12">
		<ion-item>
		  <ion-input placeholder="Nome completo" type="text"></ion-input>
		</ion-item>
	</ion-col>
	
	<ion-col size="6">
		<ion-item>
			<ion-input placeholder="Telefone Residencial" type="text"></ion-input>
		</ion-item>
	</ion-col>
	<ion-col size="6">
		<ion-item>
			<ion-input placeholder="Telefone Celular" type="text"></ion-input>
		</ion-item>
	</ion-col>

	<ion-col size="6">
		<ion-item>
			<ion-input placeholder="Telefone Comercial" type="text"></ion-input>
		</ion-item>
	</ion-col>
	
	<ion-col size="6">
		<ion-item>
			<ion-input placeholder="Fax" type="text"></ion-input>
		</ion-item>
	</ion-col>

	<ion-col size="12">
		<ion-item>
		  <ion-input placeholder="E-mail" type="text"></ion-input>
		</ion-item>
	</ion-col>

	<ion-col size="12">
		<ion-item>
		  <ion-input placeholder="Home-Page" type="text"></ion-input>
		</ion-item>
	</ion-col>
	

	<ion-col size="12" class="botoes">
		<div class="botao-gravar">
			<span>Gravar</span>
		</div>

		<div class="botao-cancelar">
			<span>Cancelar</span>
		</div>
		</ion-col>
	</ion-row>
</ion-content>